<div class="text-white bg-[#001a1c] custom-text">
  Add Form UI here!
  <div>
    <form>
      <div>
        <mat-label>{{ vm?.bodyWeightLabel }}</mat-label>
      </div>
      <mat-form-field [formGroup]="vm?.formGroup" appearance="fill">
        <input type="number" formControlName="bodyWeight" matInput />
      </mat-form-field>
      <mat-error *ngIf="vm?.formGroup.get('bodyWeight').hasError('invalid')">
        {{ vm?.invalidWeightWarning }}
      </mat-error>
      <div>
        <mat-label>{{ vm?.activityLabel }}</mat-label>
      </div>
      <mat-form-field [formGroup]="vm?.formGroup" appearance="fill">
        <input type="number" formControlName="activityLevel" matInput />
      </mat-form-field>
      <mat-error *ngIf="vm?.formGroup.get('activityLevel').hasError('invalid')">
        {{ vm?.invalidActivityLevelWarning }}
      </mat-error>
    </form>
  </div>
  <div>
    <button (click)="calculateCaloriesToConsume()" [disabled]="!vm?.formGroup.valid">Calculate</button>
  </div>
  <div>box 2</div>
  <!--  TODO: add form controls and labels per style outline-->
</div>

<mat-table multiTemplateDataRows [dataSource]="vm?.dataSource">
  <ng-container matColumnDef="range">
    <mat-header-cell *matHeaderCellDef>
      {{ vm.ActivityWeightColumnName.Range }}
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> range cell test 123 </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lowEnd">
    <mat-header-cell *matHeaderCellDef>
      {{ vm.ActivityWeightColumnName.LowEnd }}
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.lowEndCarbPerGram }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="highEnd">
    <mat-header-cell *matHeaderCellDef>
      {{ vm.ActivityWeightColumnName.HighEnd }}
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> hi cell test 123 </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="vm.displayColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: vm.displayColumns; let element"></mat-row>
</mat-table>
